
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


 <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Deneyim Ekle</h4>
                  




<form class="form-group" method="post">
    <br />

    <div>
   <label>Yetenek Başlığı</label> 
   <br />

    <input name="Title" class="form-control"/>
    </div>
    <br />

     <div>
   <label>Oran</label> 
   <br />

    <input name="Value" class="form-control"/>
    </div>
    <br />
    <button type="submit" onclick=" myFunction()" class="btn btn-info">Ekle</button>
</form>


                  </div>
                </div>
              </div>


     <script>
                function myFunction() {
                swal("Good job!", "You clicked the button!", "success");
                }
            </script>

